*{
	margin: 0px;
	padding: 0px;

}
body{direction: rtl;
	
}
.r{float: right;}
.c{clear: both;}
.w{width: 1000px;
margin: 0px outo;}
.headerTop{
	background: url("img/header 4.png");
	background-repeat: repeat-x;
}
.logo{
	padding: 30px;
}
.menuBar{
	background-color:mediumslateblue;
}
.menuBar ul{
	list-style:none;
}
.menuBar ul li{
	float: right;
	padding: 15px 10px;
	margin-left:5px; 
}
.menuBar ul li a{
	text-decoration:none;
		font-family:tahoma;
	font-size:12px; 
	color:thistle;
	padding: 30px;
	border-radius:3px; 
}
.menuBar ul li a:hover{
	background: thistle;
	color:gray;
}

.search{
	border-bottom: 1px;}
.searchForm input[type=text]{
	padding: 6px;
	font-family: tahoma;
	color:#ccc;
	width: 200px;
	border: 1px solid #eee;
border-radius: 3px;
}
.content ul{
	list-style:none;
}
.content ul li{
	float: right;
	margin-left: 10px;
}
.product{
	margin: 0px;
	padding: 0px;	
}
#pro_img{
	width:320px;

}
#pro_img img{
	border-radius: 4px;
}
#pro_img img:hover{
	opacity: 0.7;
}
#pro_title a{
	text-decoration: none;
	font-family: tahoma;
	font-size: 12px;
	font-weight: bold;
	float: right;
	color:black;
	margin: 5px;
}

.name h5{
text-decoration:none;
		font-family:tahoma;
	font-size:12px; 
	color:thistle;
	padding: 30px;
	border-radius:3px; 
}
